@import url(main.css);

.navbar .container-akun a {
  color: var(--primary);
  font-size: medium;
}

.navbar .container-akun .utama {
  color: var(--primary);
  scale: 0.7;
}
/* navigasi end */

/* Data Admin Start */
.container-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 280px;
  width: 1400px;
  height: 620px;
  /* background-color: white; */
}

.container-data .icon {
  text-align: center;
  margin-bottom: 10px;
}

.container-data .icon img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.container-data table {
  margin-left: 20px;
  width: 330px;
  /* border: 1px solid black; */
}

.container-form {
  background-color: white;
  padding: 40px 10px;
  border: 1px solid rgb(155, 167, 167);
  border-radius: 12px;
  margin-bottom: 10px;
}

.container-form .icon h4 {
  margin-bottom: 30px;
}

.container-data button {
  margin: 10px;
  width: 350px;
  height: 45px;
  background-color: var(--primary);
  border-radius: 10px;
  color: white;
  /* font-weight: bold; */
  font-size: large;
  cursor: pointer;
}
/* Data Admin End */
