/* Navigasi start */
@import url(main.css);
.navbar .container-report a {
  color: var(--primary);
  font-size: 20px;
}

.navbar .container-report .utama {
  color: var(--primary);
  scale: 1;
}
/* navigasi end */

/* header */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-left: 350px;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(211, 218, 218);
  position: fixed;
  z-index: 998;
}

#batas {
  height: 80px;
}
/* header end */

td,
th {
  border: 1px solid black;
  padding: 20px 45px;
}

th {
  background-color: rgb(219, 210, 210);
}

/* Kolom Detail Transaksi Per-Periode/prediksi permintaan Start*/
.container-detail-transaksi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 0 30px 300px;
  width: 1400px;
  height: 700px;
  display: flex;
  /* border: 2px solid black; */
}

.container-detail-transaksi .kolom {
  flex-direction: column;
  background-color: white;
  width: 1350px;
  height: auto;
  border: 1px solid rgb(155, 167, 167);
  overflow: auto;
}

.kolom-data-null {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
  width: 1350px;
  height: auto;
  border: 1px solid rgb(155, 167, 167);
}

.container-detail-transaksi .c_periode {
  flex-direction: column;
  width: 1350px;
  height: auto;
  border: 1px solid rgb(155, 167, 167);
  /* overflow: auto;*/
}

.container-detail-transaksi .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10px;
  background-color: var(--bg);
  width: 1350px;
  height: 100px;
  border: 1px solid rgb(155, 167, 167);
  border-bottom: 4.5px solid var(--primary);
  /* margin-top: 30px; */
}

.container-detail-transaksi .icon .keterangan {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: medium;
  width: 205px;
  justify-content: space-between;
  /* border: 1px solid black; */
}

.container-detail-transaksi .icon .keterangan #feather-icon {
  margin-top: 5px;
}

.container-detail-transaksi .c_periode h4 {
  background-color: var(--bg);
  padding: 10px 0 0 20px;
  /* border-bottom: 1px solid rgb(155, 167, 167); */
}

.report-button {
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #dd5a21;
  background-color: var(--transparent-primary);
  color: white;
  cursor: pointer;
  margin-left: 10px;
  /* margin-bottom: 10px; */
}

.container-detail-transaksi .c_periode .range-period {
  align-items: center;
  background-color: var(--bg);
  padding: 10px 20px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgb(155, 167, 167); */
}

.container-detail-transaksi .c_periode .range-period input {
  /* margin-top: 10px; */
  width: 200px;
  height: 30px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid rgb(155, 167, 167);
}

.container-detail-transaksi .c_periode .range-period label {
  /* background-color: var(--transparent-primary); */
  border-radius: 8px;
  margin: 0 10px;
  font-size: larger;
  font-weight: bold;
}

.container-detail-transaksi .kolom .tabel {
  margin: 30px auto 5px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  font-size: 12px;
  width: 1200px;
}

.container-detail-transaksi .kolom .periode {
  text-align: center;
}

/* Kolom Detail Transaksi Per-Periode/prediksi permintaan End*/
