@import url(main.css);
.navbar .container-dashboard a {
  color: var(--primary);
  font-size: 20px;
}

.navbar .container-dashboard .utama {
  color: var(--primary);
  scale: 1;
}

/* header */
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  padding-left: 350px;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgb(211, 218, 218);
  position: fixed;
}

#batas {
  height: 80px;
}
/* header end */

/* card start */
.container-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 1390px;
  height: 230px;
  /* width: 100%; */
  /* padding-left: 280px; */
  margin-left: 280px;
  /* background-color: blueviolet; */
}

.container-card .cards {
  display: flex;
  align-items: center;
  width: 300px;
  height: 150px;
  background-color: white;
  border: 1px solid rgb(211, 218, 218);
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.container-card .card-1 {
  background-color: rgb(83, 83, 230);
}

.container-card .card-2 {
  background-color: rgb(71, 194, 69);
}

.container-card .card-3 {
  background-color: rgb(230, 83, 83);
}

.container-card .card-4 {
  background-color: rgb(239, 217, 75);
}

.container-card .cards .keterangan {
  text-align: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.container-card .cards .keterangan a {
  text-decoration: none;
  color: black;
}

.container-card .cards .simbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  float: left;
}

.container-card .cards span {
  color: whitesmoke;
  scale: 2;
}

.container-card .cards div::after {
  content: '';
  clear: both;
}
/* card end */

/* Kolom keterangan lanjutan */
.container-kolom-keterangan {
  margin-left: 300px;
  width: 1350px;
  height: 450px;
  display: flex;
  justify-content: space-evenly;
}

.container-kolom-keterangan .icon {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  border: 1px solid rgb(155, 167, 167);
  border-bottom: 4.5px solid var(--primary);
  background-color: var(--bg);
  /* position: fixed; */
}

.container-kolom-keterangan .icon span {
  padding-top: 5px;
}

.container-kolom-keterangan .icon h4 {
  padding-left: 10px;
}

.container-kolom-keterangan .pisah {
  display: flex;
  flex-direction: column;
}

.container-kolom-keterangan .kolom {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 550px;
  height: 340px;
  border: 1px solid rgb(155, 167, 167);
  overflow: auto;
}

.container-kolom-keterangan .karyawan {
  width: 590px;
}

.container-kolom-keterangan .kolom .tb_produk,
.container-kolom-keterangan .kolom .tb_karyawan {
  display: flex;
  flex-direction: column;
  margin: 15px 15px;
  border-collapse: collapse;
  padding: 20px;
  font-size: 12px;
  width: 500px;
}

td,
th {
  border: 1px solid black;
  padding: 10px 10px;
}

th {
  background-color: rgb(219, 210, 210);
}
/* Kolom keterangan lanjutan end */
